<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      *ngFor="let news of firstTwoItems"
      id="{{ news.id }}"
      photoCover="{{ news.photoCover }}"
      cardTitle="{{ news.title }}"
      cardDescription="{{ news.description }}"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <div *ngFor="let news of data; let i = index">
      <ng-container *ngIf="i >= 2">
        <app-small-card
          id="{{ news.id }}"
          cardTitle="{{ news.title }}"
          photoCover="{{ news.photoCover }}"
        ></app-small-card>
      </ng-container>
    </div>
  </div>
</div>
